/dist
/logs
/npm-debug.log
/node_modules
.DS_Store
.idea
logs/*
coverage
.config.override.json
.vscode/
yarn-error.log
diskcache
build/*
/data
yarn.lock
yarn-error.log
.history
.jshintrc
.jshintignore
